#room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  margin-bottom: 20px;
}

#room-title {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

#layout-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 100%;
}
