.modal {
  position: relative;
  background-color: #fff;
  width: 500px;
  height: 200px;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 15px;
  overflow: hidden;
  margin: 0 15px 160px;
}

.modal .footer {
  width: 100%;
  height: 60px;
  background-color: rgb(243, 244, 246);
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 10px 1.5rem;
  flex-direction: row-reverse;
}

.modal-wrapper {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(107, 114, 128, 0.5);
  z-index: 9;
  width: 100%;
  min-height: 100vh;
}

.modal button {
  border-radius: 0.375rem;
  border-style: none;
  background: rgb(22, 163, 74);
  padding: 10px;
  color: #fff;
  line-height: 1.25rem;
  cursor: pointer;
}

.modal .body {
  padding: 20px;
}
