.lists{
  width: 100%;
}

.user-list{

}

.wrap_search {
  position: relative;
}

.wrap_search.type_gnb .ico_search,.wrap_search.type_gnb .ico_reset,.wrap_search.type_layer .ico_search,.wrap_search.type_layer .ico_reset {
  width: 18px;
  height: 18px;
}

.wrap_search.type_gnb .ico_search,.wrap_search.type_layer .ico_search {
  background-position-x: -274px;
}

.wrap_search.type_gnb .ico_reset,.wrap_search.type_layer .ico_reset {
  background-position-x: -314px;
}

.wrap_search.type_gnb .btn_search,.wrap_search.type_layer .btn_search {
  right: 10px;
}

.wrap_search.type_gnb .btn_reset,.wrap_search.type_layer .btn_reset {
  right: 44px;
}

.wrap_search.type_gnb .tf_search {
  width: 220px;
  padding: 9px 80px 9px 20px;
  margin: 0;
  font-size: 15px;
  border-radius: 8px;
  border-width: 1px;
}

.wrap_search.type_gnb .box_suggest {
  top: 46px;
  width: 416px;
  padding: 24px 20px;
  transform: none;
  left: 0;
  font-size: 14px;
}

.wrap_search.type_gnb .list_service {
  grid-template-columns: repeat(3,3fr);
}

.wrap_search.type_gnb .btn_close,.wrap_search.type_gnb .btn_more {
  font-size: 14px;
}

.wrap_search.type_gnb .btn_search,.wrap_search.type_gnb .btn_reset {
  top: 5px;
}

.wrap_search.type_gnb .list_content {
  margin-right: -20px;
}

.wrap_search.type_layer .tf_search {
  width: 380px;
  padding: 9px 80px 9px 20px;
  margin: 16px 0 24px;
  border-radius: 8px;
  border-width: 1px;
  font-size: 15px;
}

.wrap_search.type_layer .btn_search,.wrap_search.type_layer .btn_reset {
  top: 21px;
}

.wrap_search .wrap_symbol {
  margin-right: 8px;
}

.wrap_search .img_symbol {
  width: 32px;
}

.wrap_search .ico_more,.wrap_search .ico_close {
  width: 16px;
  height: 16px;
  background-position-y: -112px;
  font-size: 13px;
}

.wrap_search .ico_more {
  margin: 0 0 16px 4px;
  background-position-x: -60px;
}

.wrap_search .ico_close {
  margin: 2px 0 14px 4px;
  background-position-x: -120px;
}

.wrap_search .btn_search,.wrap_search .btn_reset {
  position: absolute;
  top: 36px;
  padding: 5px;
}

.wrap_search .btn_search {
  right: 188px;
}

.wrap_search .btn_reset {
  display: none;
  right: 228px;
}

.wrap_search .btn_reset:hover .ico_reset {
  -webkit-filter: grayscale(100%) brightness(1);
  filter: grayscale(100%) brightness(1);
}

.wrap_search .tf_search {
  width: 522px;
  padding: 18px 104px 18px 24px;
  margin: 24px 0 14px;
  border-radius: 13px;
  border: 1.5px solid #191919;
  font-size: 18px;
  color: #8e8e8e;
  line-height: 1;
}

.wrap_search .tf_search:focus {
  outline: none;
  color: #191919;
}

.wrap_search .tf_search:focus + .btn_reset {
  display: block;
}

.wrap_search .tf_search:focus ~ .box_suggest {
  display: block;
}

.wrap_search .tf_search:focus ~ .btn_search .ico_search {
  -webkit-filter: grayscale(100%) brightness(1);
  filter: grayscale(100%) brightness(1);
}

.wrap_search .ico_search,.wrap_search .ico_reset {
  width: 24px;
  height: 24px;
  background-position-y: -308px;
}

.wrap_search .ico_reset {
  background-position-x: -20px;
  -webkit-filter: grayscale(100%) brightness(1.7);
  filter: grayscale(100%) brightness(1.7);
}

.wrap_search .ico_search {
  background-position-x: -48px;
  -webkit-filter: grayscale(100%) brightness(7);
  filter: grayscale(100%) brightness(7);
}

.wrap_search .box_suggest {
  display: none;
  position: absolute;
  z-index: 100;
  top: 91px;
  left: 50%;
  transform: translateX(-50%);
  width: 604px;
  padding: 24px;
  background: #fff;
  text-align: right;
  border: 1px solid #eee;
  border-radius: 13px;
  box-shadow: 2px 12px 20px 0px rgba(0,0,0,0.08);
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.12);
}

.wrap_search .list_service {
  display: grid;
  margin-bottom: 16px;
  grid-template-columns: repeat(4,3fr);
  gap: 16px 18px;
  text-align: left;
}

.wrap_search .link_service {
  display: flex;
  align-items: center;
}

.wrap_search .list_content {
  overflow-y: auto;
  max-height: 450px;
  padding-top: 16px;
  margin-right: -24px;
  border-top: 1px solid #F1F2F6;
}

.wrap_search .list_content::-webkit-scrollbar {
  width: 20px;
}

.wrap_search .list_content::-webkit-scrollbar-thumb {
  background: #b5b5bc;
  background-clip: padding-box;
  border: 8px solid transparent;
  border-radius: 15px;
}

.wrap_search .list_content li:hover {
  background: #f4f4f4;
  border-radius: 8px;
}

.wrap_search .list_content .link_content {
  display: block;
  padding: 12px 16px;
  text-align: left;
}